{% extends "base.html" %}
{% from 'macros.html' import render_pagination %}

{% block header_bg %}
<div class="back-img">
  <img width="auto" height="550px" src="{{ url_for('static', filename="shanghai.jpg") }}" alt="背景">
</div>
{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}

{% block body %}
<div class="blog-container">
<div class="row">

  {% block post %}
  <div class="col-xs-12 col-md-9">
    {% for post in pagination.items %}
    <div class="post-box">
      <div class="blog-info">
        <span class="blog-date text-highlight">{{ post.published_date}}</span>
        <span class="dc-sep">/</span>
        <a class="blog-category" href="{{ url_for('blog.index', cat=post.category_id) }}">{{ post.category }}</a>
      </div>
      <a href="{{ url_for('blog.the_post', post_id=post.id) }}">
        <div class="blog-title">
          {{ post.title }}
        </div>
      </a>
      <div class="blog-content content-generic-body">
        {{ post.content }}
      </div>
      <div class="blog-extra">
        <a class="read-more" href="{{ url_for('blog.the_post', post_id=post.id) }}">CONTINUE READING</a>
      </div>
      <hr>
    </div>
    {% endfor %}
    {{ render_pagination(pagination, category_id, 'blog.index') }}
  </div>
  {% endblock %}

  <div class="col-xs-12 col-md-3">
      <div class="self-introduction">
          <div class="title"><span>ABOUT</span></div>
          <div class='avatar'>
            <img id="avatar" src="{{ url_for('static', filename="avatar.png") }}" class="image-circle">
          </div>
          <div class="nickname">
            <span>Kevin Xu</span>
          </div>
          <div class="intro">
            <p>I’m Kevin, and let me give you a warm welcome to visit my blog site. I hope you’ll enjoy it. Also, you can visit my <b><a href="#">HOME PAGE</a></b> to learn ablut me.</p>
          </div>
      </div>

      <div class="side-bar-category">
        <div class="side-bar-category-title content-generic-body">
          <span>CATEGORIES</span>
        </div>
        <div class="side-bar-category-content">
        {% for category in category_list_and_num %}
        <a href="{{ url_for('blog.index', cat=category[0].id) }}">
            <div class="cate-item">
                <div class="cate-name">
                  <span>{{ category[0].category_name }}</span>
                </div>
                <div class="cate-rank">
                  <span>({{ category[1] }})</span>
                </div>
            </div>
         </a>
         <hr>
        {% endfor %}        
        </div>
      </div>

  </div>
</div>
</div> <!--blog-container -->
{% endblock %}

{% block footer %}
<div class="footer">
    <div class="copyright">
        <span>Designed by Kebin Xu</span>
    </div>
</div>
{% endblock %}
