{% macro render_pagination(pagination, category_id, endpoint) %}
<nav class="nav-pagination">
  <ul class="pagination pagination-lg">
    {% if pagination.page >= 10 %}
    <li><a href="{{ url_for(endpoint, cat=category_id, page=1) }}">&laquo;</a></li>
    {% endif %}
    <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
        <a href="{{ url_for(endpoint, cat=category_id, page=pagination.prev_num) if pagination.has_prev else '#' }}">&lsaquo;</a>
    </li>
    
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for(endpoint, cat=category_id, page=page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
        {% endif %}
      {% else %}
        <li><span class="ellipsis">...</span></li>
      {% endif %}
    {% endfor %}    

    <li {% if not pagination.has_next %} class="disabled" {% endif%}>
        <a href="{{ url_for(endpoint, cat=category_id, page=pagination.next_num) if pagination.has_next else '#' }}">&rsaquo;</a>
    </li>
    {% if pagination.pages > 10 and pagination.pages - pagination.page >= 5 %}
    <li><a href="{{ url_for(endpoint, cat=category_id, page=pagination.pages) }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}
