{% extends "blog.html" %}

{% block post %}
<div class="col-xs-12 col-md-9">
    <div class="post-box">
      <div class="blog-info">
        <span class="blog-date text-highlight">{{ post.published_date}}</span>
        <span class="dc-sep">/</span>
        <a class="blog-category" href="{{ url_for('blog.index', cat=post.category_id) }}">{{ post.category }}</a>
      </div>
      <a href="{{ url_for('blog.the_post', post_id=post.id) }}">
        <div class="blog-title">
          {{ post.title }}
        </div>
      </a>
      <div class="blog-content content-generic-body">
        {{ post.content }}
      </div>
    </div>

</div>
{% endblock %}
