{% extends "admin/postCreate.html" %}
{% from "macros.html" import render_form_post %}

{% block body %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('admin.admin_post') }}">所有项</a></li>
  <li role="presentation"><a href="{{ url_for('admin.admin_post_create') }}">创建</a></li>
  <li role="presentation"><a href="#">批量删除</a></li>
  <li role="presentation" class="active"><a href="#">更新</a></li>
</ul>
<br>
<div class="col-md-8 col-xs-12">
    {{ render_form_post(form, tags, url_for('admin.admin_post_edit', edit=edit, post_id=post.id)) }}
</div>

{% endblock %}
