{% extends "admin/base.html" %}
{% from "macros.html" import render_admin_pagination %}

{% block body %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">所有项({{ tag_num }})</a></li>
  <li role="presentation"><a href="{{ url_for('admin.admin_tag_create') }}">创建</a></li>
  <li role="presentation"><a href="#">批量删除</a></li>
</ul>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <tr>
      <th>ID</th>
      <th>标签</th>
      <th>操作</th>
    </tr>
    {% for tag in pagination.items %}
    </tr>
      <td>{{ tag.id }}</td>
      <td>{{ tag.tag_name }}</td>
      <td>
          <div class="btn-group" role="group">
            <a href="{{ url_for('admin.admin_tag_edit', tag_id=tag.id) }}" type="button" class="btn btn-default" title="编辑">
              <span class="glyphicon glyphicon-pencil" title="编辑" aria-hidden="true"></span>
            </a>
            <a href="{{ url_for('admin.admin_tag_delete', tag_id=tag.id) }}" type="button" class="btn btn-default" title="删除">
              <span class="glyphicon glyphicon-trash" title="删除" aria-hidden="true"></span>
            </a>
          </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{{ render_admin_pagination(pagination, 'admin.admin_tag') }}
{% endblock %}

