{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <video id="videoElement" width="100%" height="500px" controls="controls"></video>
    </div>

    <div class="col-md-3">
    </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.3.3/flv.min.js"></script>

<script>
if (flvjs.isSupported()) {
    // 获取 video 标签
    var videoElement = document.getElementById('videoElement');
   // 初始化播放器
    var flvPlayer = flvjs.createPlayer({
        // 流的类型
        type: 'flv',
        // 是否是直播
        isLive: true,
        // 直播流地址
        url: 'https://live-play.acgvideo.com/live/958/live_463999_8651963.flv?wsSecret=b54f59152f1bd8381e10a2dcc9391be1&wsTime=5a50dd95'
    });
    flvPlayer.attachMediaElement(videoElement);
    flvPlayer.load();
    // 播放直播
    flvPlayer.play();
}
</script>

{% endblock %}
